services:
  webapp:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 3000:3000
  
  postgres:
    image: postgres:18-alpine
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: photo_portfolio
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: {}